@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.text-block {
  padding: 50px;
}

@media screen and (max-width: 768px) {
  .text-block {
    padding: 20px;
  }
}

.text-block__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #333333;
  line-height: 25px;
}

.text-block__row div {
  margin-bottom: 25px;
}

.text-block__title {
  font-size: 30px;
  color: #445161;
  line-height: 30px;
}

.text-block__subtitle {
  font-size: 25px;
  color: #445161;
  line-height: 30px;
}

.text-block__bold {
  font-weight: 600;
}

.text-block__red {
  color: red;
}

.text-block__homework {
  font-size: 20px;
  color: #445161;
  line-height: 30px;
}

.text-block__rigth {
  text-align: right;
}

.text-block__upper {
  text-transform: uppercase;
}

.text-block__italic {
  font-style: italic;
}

.text-block__line {
  text-decoration: underline;
}

.text-block__center {
  text-align: center;
}

.text-block__big {
  font-size: 24px;
}

.text-block__crossed-out {
  text-decoration: line-through;
}

.text-block__font {
  font-family: 'Times New Roman', Times, serif;
}

.text-block__shadow {
  text-shadow: 1px 1px 1px #000;
}
