@import "_nullstyle";
//------------------- Fonts -------------------//

//------------------- Basis Class -------------------//
.wrapper {width: 100%;min-height: 100vh;overflow: hidden;}
.container {max-width: 1180px; margin: 0 auto;}
body {font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
//------------------- Independent Class -------------------//

//------------------- Text Block -------------------//
.text-block {
   padding: 50px;
   @media screen and (max-width: 768px) {
      padding: 20px;
   }

   &__row {
      display: flex;
      flex-direction: column;
      color: #333333;
      line-height: 25px;
      div {
         margin-bottom: 25px;
      }
   }

   &__title {
      font-size: 30px;
      color: #445161;
      line-height: 30px;
   }

   &__text {
   }

   &__subtitle {
      font-size: 25px;
      color: #445161;
      line-height: 30px;
   }

   &__bold {
      font-weight: 600;
   }

   &__red {
      color: red;
   }

   &__homework {
      font-size: 20px;
      color: #445161;
      line-height: 30px;
   }

   &__rigth {
      text-align: right;
   }

   &__upper {
      text-transform: uppercase;
   }

   &__italic {
      font-style: italic;
   }

   &__line {
      text-decoration: underline;
   }

   &__center {
      text-align: center;
   }

   &__big {
      font-size: 24px;
   }

   &__crossed-out {
      text-decoration: line-through;
   }

   &__font {
      font-family: 'Times New Roman', Times, serif;
   }

   &__shadow {
      text-shadow: 1px 1px 1px #000;
   }
}
